# DBデータ
db_data/**
!db_data/**/
!db_data/**/.gitkeep

# golangのダウンロードしたパッケージ
golang/pkg/**
!golang/pkg/**/
!golang/pkg/**/.gitkeep

# golangのビルドしたバイナリ
golang/bin/**
!golang/bin/**/
!golang/bin/**/.gitkeep
